<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div align="center">
    <a th:href="@{/admin/users}">Back to Users List</a><br>
    <br>
    <form th:action="@{/admin/users/{userId}/edit(userId=${user.id})}"
          th:object="${user}" method="POST">


        <input type="hidden" name="id" th:value="${user.id}">

        <label for="name"><strong>First name</strong></label><br>
        <input type="text" name="name" id="name" size="50" th:value="${user.name}"><br>
       <!-- <label for="last_name"><strong>Last name</strong></label><br>
        <input type="text" name="lastName" id="last_name" size="50" th:value="${user.lastName}"><br>-->
        <label for="email"><strong>Email</strong></label><br>
        <input type="text" name="email" id="email" size="50" th:value="${user.email}"><br>
        <input type="hidden" name="login" th:value="${user.login}">
        <input type="hidden" name="roles" th:field="*{roles}">
        <label for="password"><strong> Edit Password</strong></label><br>
        <input type="password" name="password" id="password" size="50" th:value="${user.getPassword()}"><br>

        <br>
        </table>
        <style>
            .button {
                height: 30px;
                width: 200px;
                font-size: 15px;
                position: relative;
            }
        </style>
        <button name="submit" type="submit" id="edit-btn" class="button">Edit</button>
    </form>
</div>
</body>
</html>