<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" type="text/html"/>
</head>
<body>
<h1>User</h1>
<br/><br/>
<div>
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${user.name}">...</td>
        </tr>
      <!--  <tr>
            <td>LastName</td>
            <td>:</td>
            <td th:utext="${user.lastName}">...</td>
        </tr>
        -->
        <tr>
            <td>Email</td>
            <td>:</td>
            <td th:utext="${user.email}">...</td>
        </tr>

    </table>
    <h2><a th:href="@{/logout}"> Logout </a> </h2>
</div>
</body>
</html>