<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    table {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    #t01 th {
        background-color: #bbbbbb;
        color: black;
    }
</style>
<body>
<div align="center">
    <h1>All Users</h1>

    <table th:border="1" id="t01">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>

            <!-- <td th:text="${user.getId()}"></td>-->
            <td th:text="${user.getName()}"></td>
          <!--  <td th:text="${user.getLastName()}"></td>-->
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getRoles()}"></td>
            <td><a th:href="@{/admin/users/{userId}/edit(userId=${user.id})}" th:utext="${user.getUsername()}"></a></td>
            <!--  <td th:text="${user.getLogin()}"></td>-->
            <td th:text="${user.getPassword()}"></td>
            <td><a th:href="@{/admin/users/{userId}/edit(userId=${user.id})}">Edit</a>
                <a th:href="@{/admin/users/{userId}/delete(userId=${user.id})}">Delete</a></td>
        </tr>

    </table>

    <form action="/add">
        <h3>
            <a th:href="@{/admin/users/add}"><strong>ADD USER</strong></a>
        </h3>
        <br>
        <h2><a th:href="@{/logout}"> Logout </a></h2>

    </form>
</div>
</body>
</html>>